<div class="row">
{{ form_action|raw }}
	<div class="form-body">
		<h3 class="form-section"></h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			You have some form errors. Please check below.
		</div>
		<div class="alert alert-success display-hide">
			<button class="close" data-close="alert"></button>
			Your form validation is successful!
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3">Area Code<span class="required">
			* </span>
			</label>
			<div class="col-md-8">
				<input type="text" name="kd_area" data-required="1" class="form-control" value="{{data.kd_area}}"/>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="control-label col-md-3">Area Name<span class="required">
			* </span>
			</label>
			<div class="col-md-8">
				<input type="text" name="nama_area" value = "{{data.nama_area}}" data-required="1" class="form-control"/>
			</div>
		</div>


		<div class="form-group row">
			<label class="control-label col-md-3">Area Supervisor<span class="required">
			* </span>
			</label>
			<div class="col-md-8">
				{{list_employees|raw}}
			</div>
		</div>
	</div>
</form>
</div>