/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

body {
	background-color: #eff3f8;
}

.page-header {
	height: inherit;
	z-index: 100;
}

.page-content {
	padding : 15px 20px;
}

.pace .pace-progress {
	top: 51px !important;
	height: 3px !important;
	background-color: rgb(255, 155, 155);
}

.pace .pace-progress-inner {
	top	: 50px;
}

.pace .pace-activity {
	top: 58px;
	right: 10px;
	border-radius: 10px !important;
}

.modal-fix {
	border-radius: 0px;
}

.page-header-menu .container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-nav a {
	color: #BCC2CB;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #2C323A;	
}

