<style type="text/css">
.data-info .wrapper {
  	padding: 5px;
	background-color: rgba(183, 223, 247, 0.43);
}
.data-info .format-number {
	font-weight: bold;
}
</style>
<div class="wrapper">
	 : 
	<span class="format-number">{{last_reading}}</span>
	<br>	
	Date :  
	<span class="">{{last_date}}</span>
</div>

