<div>
<div class="row">
	<div class="col-md-8">
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-4 text-right" style="vertical-align: middle;">
				 Total:
			</div>
			<div class="col-md-8 table-footer-total">
				 <h4><strong>{{total|raw}}</strong></h4>
			</div>
		</div>
	</div>
</div>
</div>