.filter-container
	padding : 20px 0 20px 0

.filter-value-container
	background-color: rgb(244, 244, 244)
	margin :40px
	padding :5px 0 10px 0

	.bootstrap-tagsinput
		width: 100%
		border:none !important
		background-color: inherit !important
		box-shadow: none !important
	
	.tag
		padding : 5px 0 5px 0

.filter-value-row
	margin : 10px 10px 0px 10px
	padding : 10px 0 0 0	
	background-color: rgb(237, 237, 237)
	