/* Simpan CSS Tambahan disini */

.loading-progress {
    background: url('../images/loading.gif') no-repeat;
    background-color: #fff;
    background-position: center center;
    min-height: 141px;
}

#scroll-modal{
	height: 400px;
   overflow: scroll;
  }

#form-content, .form-content {
    display: none;
}

.box-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px;
}

.box-content form {
    padding: 5px;
}

.typeahead {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-large {
    width: 724px;
    left: 44%;
}

.modal-xlarge {
    width: 800px;
    left: 41%;
}

.modal-xxlarge {
    width: 980px;
    left: 35%;
}

.detail .control-group {
    margin-bottom: 0;
}

.detail .control-label {
    font-weight: bold;    
}

.detail .control-value {
    padding-top: 5px;
}


/* Select 2 Themes */
.select2-container .select2-choice {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-image:none;
    background:#fff
}
.select2-container .select2-choice div {
    border-left:0;
    background:none
}
.select2-container.select2-drop-above .select2-choice {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-image:none
}
.select2-container .select2-search-choice-close {
    top:3px
}
.select2-container .select2-choices {
    background-image:none
}
.select2-results,.select2-search,.select2-with-searchbox {
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important
}
.select2-no-search {
    border-top: 1px solid #ccc;
}
.select2-no-search .select2-search {
    display: none;
}

a[disabled=disabled] i {
    opacity:0.1;
    filter:alpha(opacity=10); /* For IE8 and earlier */
}

.icon-menu {
    background: url('../images/submenu-sub.gif') no-repeat;
    background-position: top 5px left;
    padding: 8px 6px 8px 8px;
}

.denied-color {
    color: #999;
}

.small-row-information label{
    float: left;
    width: 120px;
    font-weight: bold;
}

.tracking-approve a {
    margin-bottom: 5px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.tracking-approve .btn [class^="icon-"] {
    font-size: 11px;
}

/*.step {
    padding:0px 7px;
    margin-right:2px;
    margin-top:2px;
    font-size:8px;
    font-weight:bold;
    background-color:#fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}*/

/*.yellow .step {
    color:#e47a23;
}

.green .step {
    color:#679301;
}

.grey .step {
    color:#424242;
}

.red .step {
    color:#8f1432;
}*/

.tanggal_inputan .control-group {
    margin: 5px 0 !important;
}
.noBorder,.noBorder td,.noBorder tr,.noBorder th,.noBorder table{
    border: none !important;
    background: #fff !important;
}

.compare .help-inline {
    margin-top: 5px;
}

/* add by nisa */
div.well-content.clearfix.no-padding {
    padding: 10px;
}

/* button reset filter*/
.box-filter-button {
    /* position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px;
    */
    margin-top:2px;
    /*text-align: right;*/
}

.box-filter-button a, .box-filter-button a:hover {
    font-size: 10px;
    padding: 1px 5px;
    margin: 0;
}

.table.tdetail td:first-child {
    font-weight: bold;
}

.menu-toogle {
    cursor: pointer;
    background: url(../images/zonebar-downarrow.png) no-repeat right 4px center;
}

.tinfo td:first-child {
    font-weight: bold;
}

.datepicker {
     z-index: 100000 !important;
    display: block;
}

.modal.fade{
    -webkit-transition:opacity .4s linear, top .4s ease-out;
    -moz-transition:opacity .4s linear, top .4s ease-out;
    -ms-transition:opacity .4s linear, top .4s ease-out;
    -o-transition:opacity .4s linear, top .4s ease-out;
    transition:opacity .4s linear, top .4s ease-out;
    top:-25%;
}


.text-center{
    text-align: center !important;
}

.div-page-action-left {
    float:left;
    border-right:1px solid #eee;
    padding-right:15px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:15px;

    color: #666;

    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
}

.div-page-action-left:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}   

div.form-body label{
    padding-top: 7px;
}

.btn {
    border-radius : 0px;
}

.form-control {
    border-radius: 0px;
}

.page > .portlet{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    /*box-shadow: 1px 1px 5px 1px rgba(102, 102, 102, 0.2);*/
}

.page-container {
    margin-bottom: -30px;
}

.page-footer {
    background:inherit;
    height: 50px;
}

.sortable:hover {
    cursor: pointer;
}


.format-number {
    text-align: right;
}

.new-custom-table td{
    vertical-align: middle !important;
}

.show-overflow {
    overflow-x :visible;
    overflow-y :visible;
}

/*NOTIFICATIONS
*/
.external {
    margin-left: 20px;
}



.dropdown-menu .details{
    width:300px;
    word-wrap:break-word;
    display: block;
}

.dropdown-menu .time{
    float: right;
}