@media screen,print 
{

* {
    padding: 0;
    margin: 0;
} 

td  p {
    text-align: justify;
}

body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt !important;
	line-height: 18px;
	color: #000;
/*	background: url(../images/bg.jpg);*/
	background-repeat: no-repeat;
	background-position: right bottom;
	height: auto;
	background-attachment: fixed;
	background-color: #FFFFFF;
}

#wrap {
	margin: 20px auto 0 auto;
	width: 960px;
}
center.header {
	font-size:17pt;
	font-weight:bold;
}

p strong {
	font-size:9pt;
	font-weight:bold;
}
h1 {
	font-size:16pt;
	font-weight:bold;
}
h2 {
	font-size:14pt;
	font-weight:bold;
	margin-left: 10px;
	margin-top: 10px;
}

/* =Table
------------------------------------------------------------------------------------------------*/
table{
	font-size: 9pt !important;
}

table th{
	text-transform:uppercase;
	font-weight:bold;
	background:#ddd;
}

table td, table th {
	padding:2px 5px 2px 5px;
}

table {
	font-family: Verdana; 
	font-size: 9pt !important;
	border-width: 1px;
	border-style: solid;
	border-color: #ccd2d2;
	border-collapse: collapse;
	background-color: #fff;
	margin: 10px 0px;
}
.polos {
	font-family: Verdana; 
	font-size: 9pt;
	border-width:0px;
	border-style:none;
	margin:0px;
	padding:0;
}
th {
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #ccd2d2;
	border-collapse: collapse;
	background-color: #3B5998;
}

td {
	color: #272727;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #ccd2d2;
	border-collapse: collapse;
}

.t_number {
	text-align:right;
	
}

.t_tdhead {
	background:#3B5998;
	font-weight:bold;
	color: #FFFFFF;
}

.t_side_p {
	background:#ccc;
	font-weight:bold;
}

.f_child {
	background:#888;
}

.t_side_d {
	text-align:right;
	background:#ccc;
	font-weight:bold;
}

.t_side_dd {
	text-align:center;
	background:#ccc;
	font-weight:bold;
}

.t_side {
	text-align:right;
	background:#aaa;
	font-weight:bold;
}

.zebra {
	background:#ccc;
}

a { color: #000; text-decoration: none;}
a:hover { text-decoration: none; color : #090; }

a.print, a.pdf, a.nonaktif {
	padding-left:20px;
}

a.print {
	background:url(../images/15.png) left center no-repeat;
}
a.pdf {
	background:url(../images/14.png) left center no-repeat;
}
a.nonaktif {
	background:url(../images/check_icon.gif) left center no-repeat;
}

.coret {
   text-decoration:line-through;
}
/* =Kertas Kerja
------------------------------------------------------------------------------------------------*/

#kertas_kerja {
	padding:10px;
	border:1px solid #000;
}
div#left table#kertas_kerja  tr:hover {
	background:#fff;
}
ul.attach {
	margin-left: 20px;
}
.attach li {
	font-size:9pt;
	line-height:15px;
}

/* ---------------------------formating report lainnya-------------
 */

table tbody tr td ul {
	padding-left:20px;
}
table tbody tr td ol {
	padding-left:20px;
}
table tbody tr td p strong {
	font-size: 11pt;
}
 
}
.spasi_50 {
   margin: 150px;
}

@media print {
		* {
		background-color: white;
		background-image: none;
		}
		
        div.print {
            position: fixed;
            bottom: 0;
        }
		.noPrint {
			display: none;
		}
		tr {
			page-break-inside: avoid;
		}
		.new_line {
			page-break-before:always;
		}

    }

@media print {
    * {
        background-color: white;
        background-image: none;
    }

    div.print {
        position: fixed;
        bottom: 0;
    }
    .noPrint {
        display: none;
    }
    tr {
        page-break-inside: avoid;
    }
    .new_line {
        page-break-before:always;
    }
    
    
    table.no_border, table.no_border tr td, table.no_border tr th, table.no_border tr{
        border-width:0px;
	border-style:none;
	margin:0px;
	padding:0;
        text-align: center;
        background: none;
    }

}