
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<!-- END PAGE TITLE -->
 
				<!-- BEGIN PAGE TOOLBAR -->
				<div class="page-toolbar">
					<!-- BEGIN THEME PANEL -->
					<!-- END THEME PANEL -->
				</div>
				<!-- END PAGE TOOLBAR -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb hide">
				<li>
					<a href="#">Home</a><i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 Dashboard
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->

			<!--BEGIN TEST ROW DIAGRAM -->
			<!-- BEGIN ROW -->
			<div class="row">
			</div>
			<!-- END ROW -->
			<!-- END TEST -->

